# Ignore all ipython notebook checkpoints directories
**/.ipynb_checkpoints/

# Ignore all rope project directories
**/.ropeproject/

# Ignore all python cache directories
**/__pycache__/

# Ignore all '.png', '.tsv', '.sam', '.bam', '.vcf', '.tbi', '.docx' files
**/*.bai
**/*.bam
**/*.bed
**/*.fa
**/*.fai
**/*.png
**/*.sam
**/*.tsv
**/*.tbi
**/*.vcf
**/*.docx

# Ignore pycharm project directory
.idea/

# Ignore Python virtual environment files
_asep_env

# Ignore all syntax test files
_syntax_test/

# Misc
_notes.md
_explore_log2FC
predictors/*/2019*
predictors/ap.pkl
predictors/output_figs

