# Ignore all python cache directories
**/__pycache__/

# Ignore all '.tsv', '.sam', '.bam', '.vcf', '.tbi', '.docx' files
**/*.bai
**/*.bam
**/*.bed
**/*.docx
**/*.fa
**/*.fai
**/*.html
**/*.pyc
**/*.sam
**/*.tbi
**/*.tsv
**/*.vcf
**/*.pdf
# **/*.png

# Ignore all starting with _
_archived
_notes
_syntax_test

# Ignore some hidden files or directories
.pylintrc

# Ignore rsyncMe
.rbcsignore

# Remove the .vscode/.idea/.vim/pythonVirtualEnv
.vscode
.idea
.vim
.env
