# Requirements for _asep_env vritual environment
# Using python version Python/3.5.1-foss-2015b on `boxy`; other 3.5 version should work, but not test.

six == 1.12.0
pytz == 2018.9
pyparsing == 2.3.1
python-dateutil == 2.7.5
numpy == 1.15.3
scipy == 1.1.0
pandas == 0.23.4
matplotlib == 3.0.0
scikit-learn == 0.20.0
imbalanced-learn == 0.4.0
joblib == 0.12.5
cycler == 0.10.0
kiwisolver == 1.0.1
yaml == 5.1.2
